body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
}
table {
    font-size: .85rem;
}
.card,
.card-header,
.card-footer,
.card-body {
    border-color: #e8e8e8;
}

.c-sidebar-dark {
    background-color: #182537;
}

.customer-page {
    .customer-form {
        .customer-company {
            padding: 5px 10px;
            margin: 15px 0 5px 0;
            border: 1px solid #f3f3f3;
            border-radius: 5px;
        }
    }
}

.card {
    .card-header {
        font-weight: bold;
        a {
            font-weight: 400;
            color: #39f;
        }
    }
    .card-body {
        
    }
    .card-footer {
        
    }

    .xh-table{
        font-weight: 300;
        .value {
            font-weight: 400;
        }
      }
      .xh-table td {
        padding: 0.5rem 0;
        border-top-color: #e8e8e8;
    }
}

.fix-nav {
    font-weight: 400;
    width: 100%;
    .left-link {
        margin: 13px 0;
        display: block;
        font-weight: 400;
        float: left;
        color: #747C87;
        a {
            color: #747C87;
        }
    }
    .right-button {
        margin: 5px 15px 0 0;
        float: right;
    }

    .dropdown-menu li {
        padding: 5px;
        a {
            text-decoration: none;
            color: #000;
            display: block;
            width: 100%;
            padding: 5px 15px;
            &:hover {
                background-color: #e4e4e4;
                color: rgb(97, 184, 255);
            }
        }
    }

    button.btn.btn-danger.btn-sm {
        padding: 7px;
        background: #fff;
        color: red;
        margin-left: 10px;
    }
}

h3.customer-name {
    font-size: 1.2em;
    font-weight: bold;
    span {
        font-size: 1em;
        font-weight: 400;
    }
}

//customer tab content
.customer-tab-content {
    .card-body, .card-header, .card-footer {
        padding:0;
    }
    .card-footer {
        padding-bottom: 0;
    }
    th {
        background:#efefef;
    }
    .nav-item .nav-link,
    .nav-tabs .nav-link {
        -webkit-transition: all 300ms ease 0s;
        -moz-transition: all 300ms ease 0s;
        -o-transition: all 300ms ease 0s;
        -ms-transition: all 300ms ease 0s;
        transition: all 300ms ease 0s;
    }

    .card a {
        -webkit-transition: all 150ms ease 0s;
        -moz-transition: all 150ms ease 0s;
        -o-transition: all 150ms ease 0s;
        -ms-transition: all 150ms ease 0s;
        transition: all 150ms ease 0s;
    }

    [data-toggle="collapse"][data-parent="#accordion"] i {
        -webkit-transition: transform 150ms ease 0s;
        -moz-transition: transform 150ms ease 0s;
        -o-transition: transform 150ms ease 0s;
        -ms-transition: all 150ms ease 0s;
        transition: transform 150ms ease 0s;
    }

    [data-toggle="collapse"][data-parent="#accordion"][aria-expanded="true"] i {
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .nav-tabs {
        border: 0;
        padding:10px 0;
    }

    .card .nav-tabs {
        border-top-right-radius: 0.1875rem;
        border-top-left-radius: 0.1875rem;
        padding:0;
    }

    .nav-tabs>.nav-item>.nav-link {
        color: #888888;
        margin: 0;
        margin-right: 5px;
        background-color: transparent;
        border: 1px solid transparent;
        font-size: 14px;
        padding: 11px 23px;
        line-height: 1.5;
    }

    .nav-tabs>.nav-item>.nav-link:hover {
        background-color: transparent;
    }

    .nav-tabs>.nav-item>.nav-link.active {
        background-color: #fff;
        border-bottom: 2px solid #39f;
        color: #39f;
    }


    .nav-tabs>.nav-item>.nav-link i.now-ui-icons {
        font-size: 14px;
        position: relative;
        top: 1px;
        margin-right: 3px;
    }

    .nav-tabs.nav-tabs-neutral>.nav-item>.nav-link {
        color: #FFFFFF;
    }

    .nav-tabs.nav-tabs-neutral>.nav-item>.nav-link.active {
        background-color: rgba(255, 255, 255, 0.2);
        color: #FFFFFF;
    }

    @media screen and (max-width: 768px) {

        .nav-tabs {
            display: inline-block;
            width: 100%;
            padding-left: 100px;
            padding-right: 100px;
            text-align: center;
        }

        .nav-tabs .nav-item>.nav-link {
            margin-bottom: 5px;
        }
    }

}

// pagination
ul.pagination {
    float: left;
    margin: 0;
    .page-item.active .page-link  {
        z-index: 3;
        color: #fff;
        background-color: #39f;
        border-color: #39f;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
    }

    .page-link {
        position: relative;
        display: block;
        line-height: 1.25;
        border: 0;
        background-color: #fff;
        border-color: #aaa;
        padding: 0.2rem 0.5rem;
        margin: 0 3px;
    }
}

.paginate-info {
    float: right;
    padding: 0 20px 0 0;
}

.loading-spiner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .8;
    z-index: 99;
    display: none;

    .spinner-border {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 90;
    }
}

.table-filter {
    padding: 10px;
}

/* paginate bottom table */
.table-paginate {
    padding: 10px 0;
    border-top: 2px solid #cecece;
}

.table-footer-right {
    display: block;
    padding: 10px;
    border-top: 1px solid #eaeaea;
}
a.link-btn {
    padding: 5px 10px;
    color: rgb(41, 41, 41);
    font-weight: bold;
    text-decoration: none;
    &:hover {
        color: #39f;
    }
}